<div *ngIf="gameOver" class="gameOver" >
  <img src="assets/images/game_over.svg" alt="Game Over" >
</div>


<div *ngIf="!gameOver">
@for (player of game?.players; track player;let i = $index) {
<app-player (click)="editPlayer(i)" [ngStyle]="{ 'top.px': 20 + i * 60}" [playerActive]="game?.currentPlayer == i" [image]="game!.player_images[i]" [name] ="player" class="player-position hide-mobile"></app-player>
}

<div class="scroll-container  hide-desktop">
@for (player of game?.players; track player;let i = $index) {
<app-player-mobile (click)="editPlayer(i)" [playerActive]="game?.currentPlayer == i" [image]="game!.player_images[i]" [name] ="player"></app-player-mobile>
}
</div>



<section>
  <div class="card-stack">
    @for (c of cards; track c ;let i = $index) {
    <img [ngStyle]="{ 'right.px': i * 5 }" src="assets/images/cards/card_cover.png" alt="cardImg" />
    }
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="assets/images/cards/card_cover.png"
      alt="cardImg"
    />
    @for (card of game?.playedCards; track card) {<img
      class="played-card"
      src="assets/images/cards/{{ card }}.png"
      alt="playedCardImg"
    />} @if(game?.pickCardAnimation){
    <img
      (click)="takeCard()"
      class="pick-card"
      style="right: 25px"
      src="assets/images/cards/{{ game?.currentCard }}.png"
      alt="cardImg"
    />}
  </div>
</section>


<app-game-info [card]="game?.currentCard ?? '' " class="pin-bottom"></app-game-info>

 <button matFab class ="btn-add" (click)="openDialog()">
        <mat-icon>add</mat-icon>
</button>
</div>


