section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url('../../assets/images/board.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 110px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;
  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.played-card {
  right: 25px;
  transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.7);
  }
  60% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
  }
}

.player-position {
  position: absolute;
  right: 0;
  z-index: 1;
}

.btn-add {
  position: absolute;
  right: 32px;
  bottom: 32px;
  border-radius: 50%;
  background-color: whitesmoke;
  color: black;
}

.pin-bottom {
  position: absolute;
  bottom: 32px;
  left: 100px;
  right: 100px;
  line-height: 1.5;

  @media (max-width: 600px) {
    left: 10px;
    bottom: 15px;
  }
}

.scroll-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;

  app-player-mobile {
    margin-left: 8px;
  }

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darkorange;
    cursor: pointer;
  }
}

app-player-mobile,
app-player {
  cursor: pointer;

  &:hover {
    filter: brightness(1.15);
  }
}

.gameOver{
  display: flex;
  align-items: center;
  justify-content: center;
    img{
      width: 300px;
    }
}
  

