.profile-container {
  display: flex;   
  align-items: center;
  justify-content: center;       
  flex-wrap: wrap;        
  gap: 10px;              
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;    
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(1.15);
  }
}
