.player {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color:rgb(128, 128, 128,0.8);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
   
}

.player-active{
    background-color: orange !important;
}


