mat-card-title {
  font-weight: bold;
  font-size: 25px;
  margin-left: 15px;
}

mat-card-content {
  font-size: 20px;

  @media (max-width: 438px) {
    max-height: 150px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: orange;
      border-radius: 3px;
    }
  }

  @media (max-width: 382px) {
    max-height: 125px;
  }
}
